{% extends "users/layout.html" %}

{% block body %}
    <br>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <br> <br>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %} <!-- security tocken -->
        <input type="text", name="username", placeholder="Username">
        <input type="password", name="password", placeholder="Password"> <!-- type="password" makes sure that dots are shown inted of characters -->
        <input type="submit", value="Login">
    </form>

    <br></br>
    Don't have a profile? Signup <a href="{% url 'signup' %}">HERE</a>

{% endblock %}